# GCash Donation Settings
VITE_GCASH_NAME="Your GCash Account Name"
VITE_GCASH_NUMBER="Your GCash Phone Number"

# Binance Donation Settings
VITE_BINANCE_NAME="Your Binance Name"
VITE_BINANCE_NUMBER="Your Binance Account Number"

# Cryptocurrency Donation Wallets
VITE_CRYPTO_BSC_WALLET="0x..."
VITE_CRYPTO_TRX_WALLET="T..."
VITE_CRYPTO_ETH_WALLET="0x..."
VITE_CRYPTO_MATIC_WALLET="0x..."
VITE_CRYPTO_SOL_WALLET="Solana..."
